body{
    background-color: beige;
}
h1{
    color: rgb(67, 23, 223);
}
nav{
  background: #088cf1;  
  height: 100px;
  width: 100%;
}
label.logo{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
nav ul{
    float: right;
    list-style: none;
font-size: 15px;
}
h2{
    background-color: yellow;
}
h{
    background-color: rgb(22, 143, 42);
    color: #fbfff4;
    font: size 20px; ;
}